<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-storyteller" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    
    <name>StorytellerPlugin</name>
    <description>Plugin to use the Storyteller SDK in your app</description>
    
    <engines>
        <engine name="cordova" version=">=11.0.0" />
    </engines>
    
    <js-module src="www/storyteller.js" name="Storyteller">
        <clobbers target="cordova.plugins.storyteller" />
    </js-module>
    
    <platform name="android">
        <hook src="hooks/modifyAndroidManifest.js" type="before_plugin_install" />
        
        <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
        <source-file src="src/android/StorytellerHandler.kt" target-dir="app/src/main/java/com/example/benficastoryteller" />
        <source-file src="src/android/StorytellerController.kt" target-dir="app/src/main/java/com/example/benficastoryteller" />
        <source-file src="src/android/StorytellerPlugin.kt" target-dir="app/src/main/java/com/example/benficastoryteller" />
        <source-file src="src/android/StorytellerViewActivity.kt" target-dir="app/src/main/java/com/example/benficastoryteller" />
        
        <!-- Config android package -->
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Storyteller">
                <param name="android-package" value="com.example.benficastoryteller.CDVStoryteller" />
            </feature>
        </config-file>
    </platform>
</plugin>
